.background-red {
	background-color: $brand-red;
	color: $brand-white;
}

.background-dark {
	background-color: $brand-dark;
	color: $brand-white;
}

.background-white {
	background-color: $brand-white;
	color: $brand-dark;
}
