.anouncement-banner {
	background-color: $brand-red;
	color: $brand-white;
	padding: 20px 0;

	p {
		margin-bottom: 0;
	}

	a {
		color: $brand-white;
		text-decoration: underline;
		text-underline-offset: 4px;
		text-decoration-thickness: 2px;
		transform: color 0.2s ease-in-out;
		&:hover {
			color: $brand-dark;
		}
	}
}

.into {
	padding: 50px 0;
}

.training-programs-banner {
	padding: 50px 0;
}

.events {
	padding: 50px 0;
}

.featured-event {
	background: linear-gradient(180deg, $brand-blue 0%, $brand-red 100%);
	color: $brand-white;
	border-radius: 20px;
	padding: 20px;
}

.sponsors-slider {
	padding: 50px 0;
}

.sports-banner {
	.col {
		position: relative;
		height: 200px;
		overflow: hidden;
		text-decoration: none;
		&:hover {
			cursor: pointer;

			img {
				transform: scale(1.07);
			}
		}
	}
	.sport {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		height: 100%;
		width: 100%;
		z-index: 2;
		h2 {
			text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
		}
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		transition: transform 0.2s ease-in-out;
	}
}

.member-benefits {
}

.photo-banner-full-width {
	position: relative;
	height: 500px;

	&.photo-banner-tall {
		height: auto;

		img {
			position: relative;
			width: 100%;
			height: auto;
			aspect-ratio: 1/1;
			object-fit: cover;
			z-index: 1;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
}

.cta-banner {
}
