.btn {
	border: none;
	border-radius: 30px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 25px;
	position: relative;
	margin-right: 15px; // Add space between adjacent buttons

	&:last-child {
		margin-right: 0; // Remove margin from last button
	}

	.fas {
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.btn-primary {
		background-color: $brand-red;

		&:hover {
			background-color: darken($brand-red, 10%);
		}
	}

	&.btn-secondary {
		background-color: $brand-white;
		color: $brand-red;
		&:hover {
			background-color: darken($brand-white, 5%);
			color: $brand-red;
		}
	}

	&.btn-tertiary {
		background-color: $brand-dark;
		color: $brand-white;
		&:hover {
			background-color: darken($brand-dark, 10%);
			color: $brand-white;
		}
	}

	&.btn-outline-primary {
		color: $brand-white;
		border: 1px solid $brand-white;
		&:hover {
			background-color: $brand-white;
			color: $brand-red;
		}
	}
}
