.hero {
	position: relative;
	img {
		height: 500px;
		width: 100%;
		object-fit: cover;
		background-position: center;

		// @include media-breakpoint-down(lg) {
		// 	height: 250px;
		// }
	}

	.caption {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		color: $brand-white;
		background-color: rgba(221, 43, 46, 0.8);
		z-index: 2;
		padding: 15px 0;
		font-size: 20px;

		&.no-image {
			background-color: $brand-red;
			position: relative;
		}

		h1 {
			margin-bottom: 0;
		}
	}
}
