main {
	a:not(.btn):not(.breadcrumb-link):not(.card) {
		color: $brand-blue;
		text-decoration: underline;
		text-underline-offset: 6px;
		text-decoration-thickness: 2px;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: darken($brand-blue, 10%);
		}
	}

	section {
		&.padding-y-100 {
			&:first-child {
				padding-top: 50px;
			}
			&:last-child:not(.cta-banner) {
				padding-bottom: 50px;
			}
		}
	}

	// target .text-column and adjust padding. Reduce padding to 50px if a .text-column is followed by a .text-column
	.text-column {
		&:not(:last-child) {
			padding-bottom: 50px;
			padding-top: 50px;
		}
	}
}
