.navbar {
	// show dropdown menu on hover vs click

	a:not(.btn) {
		color: $brand-white;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $brand-red;
		}
	}

	.dropdown-menu a:not(.btn) {
		color: $brand-dark;
		&:hover {
			color: $brand-red;
			background-color: transparent;
		}
	}

	@include media-breakpoint-up(xl) {
		.nav-item {
			.dropdown-menu {
				display: none;
				margin-top: 0;
			}

			&:hover {
				.dropdown-menu {
					display: block;
				}
			}
		}
	}
}

.navbar-toggler-label {
	display: none;
	font-size: 30px;
	background-color: $brand-red;
	padding: 0px 15px 7px 15px;
	border-radius: 5px;
	color: $brand-white;
	transition: color 0.3s ease-in-out;
	line-height: 1;
	border: 2px solid darken($brand-red, 20%);
	&:hover {
		cursor: pointer;
	}
}

// toggle navbar with checkbox - style as needed
@include media-breakpoint-down(xl) {
	.navbar-toggler-label {
		display: block;
	}
	.navbar-toggler:checked ~ #navbarSupportedContent {
		display: block !important;
	}
}
