// Brand Colors
$brand-red: #dd2b2e;
$brand-dark: #231f20;

$brand-blue: #0071bc;
$brand-gray: #414042;
$brand-white: #fff;
$brand-light-gray1: #f0f0f0;
$brand-light-gray2: #bbbdbf;
$brand-dark-gray: #58595b;

$base-spacing-unit: 20px;

$breadcrumb-divider: quote("»");
