// Brand Colors
$brand-red: #dd2b2e;
$brand-dark: #231f20;

$brand-blue: #0071bc;
$brand-gray: #414042;
$brand-white: #fff;
$brand-light-gray1: #f0f0f0;
$brand-light-gray2: #bbbdbf;
$brand-dark-gray: #58595b;

$base-spacing-unit: 20px;

$breadcrumb-divider: quote("»");

// Set the base font size (default is 1rem = 16px)
$font-size-base: 1.125rem; // 18px

// Set the base line height
$line-height-base: 1.5;

$h1-min: 4.2rem; // ~67px
$h1-max: 5.3333rem; // ~96px
$h2-min: 2.45rem; // ~39px
$h2-max: 3.5rem; // ~56px
$h3-min: 1.4rem; // ~22px
$h3-max: 2rem; // ~32px
$h4-min: 1.125rem; // ~18px
$h4-max: 1.5rem; // ~24px

// Adjust vw multiplier up for aggressive scaling
$h1-font-size: clamp(#{$h1-min}, 5vw, #{$h1-max});
$h2-font-size: clamp(#{$h2-min}, 4vw, #{$h2-max});
$h3-font-size: clamp(#{$h3-min}, 3vw, #{$h3-max});
$h4-font-size: clamp(#{$h4-min}, 2vw, #{$h4-max});

h1,
.h1 {
	font-size: $h1-font-size;
}

h2,
.h2 {
	font-size: $h2-font-size;
}

h3,
.h3 {
	font-size: $h3-font-size;
}

h4,
.h4 {
	font-size: $h4-font-size;
}
