html {
  --c-red: #dd2b2e;
  --c-blue: #055e87;
  --c-blue-2: #0f62fe;
  --c-blue-3: #1e9fda;
  --c-dark-text: #262626;
  --c-gray: #4d5358;
  --c-light-gray: #a2a9b0;
  --c-black: #000;
  --c-white: #fff;

  --grid-gap: 30px;
}

body {
  margin: 0;
}

/* Grid System */

.container {
  max-width: 1440px;
  padding: 0 80px;
  outline: 1px solid salmon;
}

.grid-container {
  display: grid;
  gap: var(--grid-gap);
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.four-col {
  grid-template-columns: repeat(4, 1fr);
}

@media (width < 900px) {
  .container {
    padding: 0 40px;
  }

  .two-col,
  .three-col,
  .four-col {
    grid-template-columns: 1fr;
  }
}

@media (width < 600px) {
  .container {
    padding: 0 20px;
  }
}
